{% extends "./base.html" %} {% load widget_tweaks %} {% block content %}

<form
  class="flex flex-col gap-2 bg-white/10 p-4 items-start justify-center text-white"
  method="POST"
>
{% csrf_token %}
<div class="w-full">
  {% for field in form %}
  <label
    for="{{ field.id_for_label }}"
    class="block text-gray-100 font-semibold mb-1"
    >{{field.label}}</label
    >
 
    <input 
    type="date"
    name="{{ field.html_name }}"
    id="{{ field.id_for_label }}" 
    class="rounded w-full py-2 px-3 focus:outline-none focus:ring-2 focus:ring-black border border-white/10"
    value="{{ field.value|default_if_none:'' }}"
    {% if field.field.required %}required{% endif %}
/>
  {% endfor %}
</div>

  <button type="submit" class="px-3 py-1 rounded-md bg-white text-black">Submit</button>
</form>
{% endblock %}
