{% extends "./base.html" %} {% load widget_tweaks %} {% block content %}

<div
  class="flex flex-wrap gap-4 w-full h-full items-start justify-start overflow-y-auto p-2"
>
  <form
  class="flex flex-col gap-2 bg-white/10 p-4 items-start justify-center text-white"
  method="POST"
>
{% csrf_token %}
<div class="w-full">
  {% for field in form %}
  <label
    for="{{ field.id_for_label }}"
    class="block text-gray-100 font-semibold mb-1"
    >{{field.label}}</label
    >
  {{ field | add_class:"rounded-md w-full py-2 px-3 focus:outline-none focus:ring focus:ring-white border border-white/10" }}
  {% endfor %}
</div>
  <button type="submit" class="px-3 py-1 rounded-md bg-white text-black">Submit</button>
</form>

  <div class="overflow-x-auto rounded">
    <table class="min-w-full bg-white/10 border border-gray-200">
      <thead>
        <tr>
          <th class="py-3 px-4 border-b font-semibold text-left">Team</th>
          <th class="py-3 px-4 border-b font-semibold text-left">Matches</th>
          <th class="py-3 px-4 border-b font-semibold text-left">Won</th>
          <th class="py-3 px-4 border-b font-semibold text-left">Lost</th>
          <th class="py-3 px-4 border-b font-semibold text-left">Points</th>
        </tr>
      </thead>
      <tbody>
        
        {% for team in summary %}
        <tr class="hover:bg-white/5">
          <td class="py-3 px-4 border-b hover:underline">
            <a href="{% url "match-details" team.id %}">{{team.country}}</a>
          </td>
          <td class="py-3 px-4 border-b">
            <span
              class="font-medium"
            >
              {{team.matches}}
            </span>
          </td>
          <td class="py-3 px-4 border-b">{{team.won}}</td>
          <td class="py-3 px-4 border-b">{{team.lost}}</td>
          <td class="py-3 px-4 border-b">{{team.points}}</td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="5" class="py-6 px-4 text-center text-gray-500">
            No Teams found. Create one!
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
