{% extends "./base.html" %} {% block content %}

<div
  class="flex flex-wrap gap-4 w-full h-full items-start justify-start overflow-y-auto p-2"
>
  


  <div class="overflow-x-auto rounded">
        <table class="min-w-full bg-white/10 border border-gray-200">
            <thead>
                <tr>
                    <th class="py-3 px-4 border-b font-semibold text-left">
                        Team
                    </th>
                    <th class="py-3 px-4 border-b font-semibold text-left">
                        Matches
                    </th>
                    <th class="py-3 px-4 border-b font-semibold text-left">
                        Won
                    </th>
                    <th class="py-3 px-4 border-b font-semibold text-left">
                        Lost
                    </th>
                    <th class="py-3 px-4 border-b font-semibold text-left">
                       Points
                    </th>
                 
                </tr>
            </thead>
            <tbody>
                {% for team in summary %}
                <tr class="hover:bg-white/5">
                    <td class="py-3 px-4 border-b hover:underline"><a href="{% url "match-deatil" team.team.country %}">{{team.team.country}}</a></td>
                    <td class="py-3 px-4 border-b">
                        <span
                            class="{% if task.status == 'todo' %}text-orange-500 {% elif task.status == 'in_progress' %}text-blue-600 {% elif task.status == 'done' %}text-green-700 {% endif %} font-medium"
                        >
                           {{team.team.matches}}
                        </span>
                    </td>
                    <td class="py-3 px-4 border-b">
                        {{team.team.won}}
                    </td>
                    <td class="py-3 px-4 border-b">
                       {{team.team.lost}}
                    </td>
                    <td class="py-3 px-4 border-b">
                       2
                    </td>
                    
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="py-6 px-4 text-center text-gray-500">
                        No Teams found. Create one!
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

 
</div>
{% endblock content %}
