{% extends "./base.html" %} {% block content %} {% for team in summary %}
<div class="w-full items-start justify-start p-2 bg-white/10">
  <div class="flex items-center justify-start">
    <label for="{team.team.country}">Country:</label>
    {{team.team.country}}
  </div>
  <div class="flex items-center justify-start">
    <label for="{team.team.country}">Match:</label>
    {{team.match}}
  </div>
  <div class="flex items-center justify-start">
    <label for="{team.team.country}">Score:</label>
    {{team.batting_score}}
  </div>
  <div class="flex items-center justify-start">
    <label for="{team.team.country}">Overs:</label>
    {{team.batting_overs}}
  </div>
  <div class="flex items-center justify-start">
    <label for="{team.team.country}">Wickets:</label>
    {{team.batting_wickets}} {% endfor %}
  </div>
</div>
{% endblock content %}
