{% extends "./base.html" %} {% block content %}

<div
  class="flex flex-wrap gap-4 w-full h-full items-start justify-start overflow-y-auto p-2"
>
  <div
    class="bg-white/10 flex flex-col gap-2 items-start justify-start py-2 px-4"
  >
    <div class="flex items-center justify-start">
      <label for="{object.country}">Country:</label>

      {{object.country}}
    </div>
    <div class="flex items-center justify-start">
      <label for="{object.country}">Matches:</label>
      {{object.matches}}
    </div>  
    <div class="flex items-center justify-start">
      <label for="{object.country}">Won:</label>
      {{object.won}}
    </div>
    <div class="flex items-center justify-start">
      <label for="{object.country}">Lost:</label>
      {{object.lost}}
    </div>
    <div class="flex items-center justify-start">
      <label for="{object.country}">Points:</label>
      {{object.points}}
    </div>
  </div>
</div>
{% endblock content %}
